§ =============================================================
§  Personal Information
§ =============================================================

SetMacro( 'AUTHOR',       '{{ extracted_name }}' )
SetMacro( 'AUTHORREF',    '{{ author_ref }}' )
SetMacro( 'EMAIL',        '{{ email }}' )
SetMacro( 'COPYRIGHT',    'Copyright (c) |YEAR|, |AUTHOR|' )

§ =============================================================
§  Date and Time Format
§ =============================================================

§SetFormat( 'DATE', '%x' )
§SetFormat( 'TIME', '%H:%M' )
§SetFormat( 'YEAR', '%Y' )
